

<!Doctype HTML>
<html>
<head>
  <title> Leap Challenge </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  
  <style>
  .smaller {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

  }

  .margin-top-40 {
    margin-top: 40px;

  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .txt-center {
    text-align: center;
  }

  </style>

</head>

<body>


<div class="container">

    <div class="header">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="#">Home</a></li>
              <li role="presentation"><a href="#">About</a></li>
              <li role="presentation"><a href="#">Contact</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">Leap Challenge</h3>
    </div>

    <div class="jumbotron margin-top-40">
      <h1>Leap Challenge Project</h1>
      <p class="lead">Welcome to the Leap Challenge Project. This Web Application requires you to plug in your Leap Motion Controller in order to record a Hand Gesture.  Once you are finished with the recording, you can play back the gesture immediately.   A library of recorded gestures are listed below.  Have fun! </p>
      
      <p> <a href="/recordings" class = "btn btn-lg btn-success">I'm ready to record!</a></p>
    </div>
  </div>





</body>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script src="https://js.leapmotion.com/leap-0.6.4.min.js"></script>
<script src="https://js.leapmotion.com/leap-plugins-0.1.10.min.js"></script>


</html>

